/* *{
    outline: 1px solid red;
} */
h5{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: xx-large;
      
}
.carouseltext{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: xx-large;
    text-shadow: 2px 2px 2px black;     
}
h3{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: large;
    right: 5%;     
}

.navbar-collapse {
    display: flex;
    justify-content: flex-end;
}

.nav-link{
margin: 10px;
border: 2px solid rgba(0, 0, 0, 0.5);
border-radius: 10px;
text-shadow: 0 0 15px var(--color);
text-decoration: none;
text-transform: uppercase;
letter-spacing: 0.1rem;
transition: 0.5s;
z-index: 1;
color: #ff1867;;
}

.nav-link:hover {
color: #fff;
border: 2px solid rgba(0, 0, 0, 0);
box-shadow: 0 0 0px var(--color);
}

.nav-link::before {
content: '';
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;
background: var(--color);
z-index: -1;
transform: scale(0);
transition: 0.5s;
}

.nav-link:hover::before {
transform: scale(1);
transition-delay: 0.5s;
box-shadow: 0 0 10px var(--color),
  0 0 30px var(--color),
  0 0 60px var(--color);
}

.nav-link span {
position: absolute;
background: var(--color);
pointer-events: none;
border-radius: 2px;
box-shadow: 0 0 10px var(--color),
  0 0 20px var(--color),
  0 0 30px var(--color),
  0 0 50px var(--color),
  0 0 100px var(--color);
transition: 0.5s ease-in-out;
transition-delay: 0.25s;
}

.nav-link:hover span {
opacity: 0;
transition-delay: 0s;
}

.nav-link span:nth-child(1),
.nav-link span:nth-child(3) {
width: 40px;
height: 4px;
}

.nav-link:hover span:nth-child(1),
.nav-link:hover span:nth-child(3) {
transform: translateX(0);
}

.nav-link span:nth-child(2),
.nav-link span:nth-child(4) {
width: 3px;
height: 30px;
}

.nav-link:hover span:nth-child(1),
.nav-link:hover span:nth-child(3) {
transform: translateY(0);
}

.nav-link span:nth-child(1) {
top: calc(50% - 2px);
left: -50px;
transform-origin: left;
}

.nav-link:hover span:nth-child(1) {
left: 50%;
}

.nav-link span:nth-child(3) {
top: calc(50% - 2px);
right: -50px;
transform-origin: right;
}

.nav-link:hover span:nth-child(3) {
right: 50%;
}

.nav-link span:nth-child(2) {
left: calc(50% - 2px);
top: -50px;
transform-origin: top;
}

.nav-link:hover span:nth-child(2) {
top: 50%;
}

.nav-link span:nth-child(4) {
left: calc(50% - 2px);
bottom: -50px;
transform-origin: bottom;
}

.nav-link:hover span:nth-child(4 ) {
bottom: 50%;
}

.logo{
    margin: 10px;
    width: 30px;
    height: 50px;
}

.carousel-inner {
    height:300px;
}

.navbar{
    background-color:#f8f9fa ;
    min-height: 5vh;
}

.carouselImg{
    height: 300px;
    object-fit: cover;
    object-position:center center;
}


.socialMedia{
    border-radius: 50%;
    width:40% ;
}

footer{
    min-height: 5vh;
    background-color:#f8f9fa ;
    padding: 0%;
}

.form{
    margin: 2px !important;
}

.container{
    border-radius: 1%;
    border: 1px solid black;
}

.colored-row{
    background-color: #d7dadd !important;
}

tr , td{
    height: 2rem;
    justify-content: center;    
}

table, tr, th, td{
    border: 1px solid black;
    border-collapse: collapse;
}

.cardDetails{
    margin: 6%;
    border: 2px solid black;
    background-color:#f8f9fa;
}

.cardbodyDetails{
    border: 2px solid black;
    background-color:white;
    margin:6%;
}

.card {
    padding: 0px;
}